#github {
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: 20px;
    border-radius: 50px;
    border: 3px solid #228B22;
    padding: 7px;
}

#conteudo {
    margin-top: 400px;
}



#quemsomos {
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.somos h1 {
    color: #228B22;
    margin-bottom: 10px;
    font-size: 50px;
}

.somos p {
    font-size: 20px ;
    color: #2F4F4F;
}

#quemsomos img {
    width: 400px;
    height: 400px;
}

.somos {
    width: 400px;
}

#empresas {
    box-shadow: 2px 8px 8px white ;
    width: 100%;
    height: 250px;
    background-color: #10862a;
}

#empresasa .imagens {
}

#empresas h1 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #f5f5f5;
}

#empresas img {
    box-shadow: 4px 8px 20px #10411b;
    background-color: #f5f5f5;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 25px;
    width: 120px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 70%;
}

#empresasa .imagens img:hover{
    transform: scale(1.1);
}

#espc{
    padding: 100px;
}

#tecnologia {
}

#tecnologia .tec-t {
    display: flex;
    justify-content: space-around;
    color: #10862a;
}

#tecnologia h1{
    font-size: 50px;
}

#tecnologia .tec-p {
    color: #2F4F4F;
    font-weight: bold;
    width: 400px;
    height: 200px;
}

#tecnologia .tec-img {
    display: inline-block;
    border: 2px solid red;
    width: 250px;
    height: 283px;
}