#github {
    background-color: rgb(255, 255, 255);
    position: fixed;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: 20px;
    border-radius: 50px;
    border: 3px solid #006398;
    padding: 7px;
}

#conteudo {
    margin-top: 400px;
}



#quemsomos {
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.somos h1 {
    color: #006398;
    margin-bottom: 10px;
    font-size: 50px;
}

.somos p {
    font-size: 20px ;
    color: #999999;
}

#quemsomos img {
    width: 400px;
    height: 400px;
}

.somos {
    width: 400px;
}

/* CARDS E TITULO EMPRESAS*/

#empresas {
    box-shadow: 2px 8px 8px white ;
    width: 100%;
    height: 250px;
    background-color: #006398;
}

#empresas .imagens {
    display: flex;
    justify-content: space-evenly;
}

#empresas h1 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: #f5f5f5;
}

#empresas img {
    box-shadow: 4px 8px 20px #2F4F4F;
    background-color: #f5f5f5;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 25px;
    width: 120px;
    height: 100px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 70%;
}

#empresasa .imagens img:hover{
    transform: scale(1.1);
}

#espc{
    padding: 100px;
}

/* TOPO DE TECNOLOGIA */

#tec-t {
    color: #006398;
    margin-bottom: 20px;
}

.tec-txt{
    display: flex;
    justify-content: space-around;
}

.tec-txt h1 {
    padding-top: 30px;
}

.tec-px {
    font-weight: 500;
    width: 400px;
    height: 200px;
    color: #2F4F4F;
}

#tecnologia {
    display: flex;
    justify-content: space-around;
}



#tecnologia1 h1{
    font-size: 50px;
}

#tecnologia .tec-p {
    flex-direction: column;
    color: #999999;
    font-weight: 500;
    width: 400px;
    height: 200px;
}

#tecnologia .tec-img {
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: inline-block;
    border: 2px solid #2F4F4F;
    width: 250px;
    height: 283px;
    margin: 5px;
    background-size: cover;
}

#tecnologia .tec-img img {
    -webkit-filter:brightness(50%);
    filter:brightness(50%);
    object-fit: cover;
    width: 250px;
    height: 283px;
    position: absolute;
    background-repeat: no-repeat;
    
}

#tecnologia .tec-img p {
    text-transform: uppercase;
    color: #f5f5f5;
    font-weight: bold;
    position: relative;
    text-align: center;
}

#tecnologia .tec-img input {
   
    
}


/* EFEITO DE VIRAR */

.tec {
    perspective: 1000px;
}

.tec-img {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.tec-img.flip {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.front {
    background-color: #f0f0f0;
}

.front input {
    position: relative;
    margin-top: 70px;


    border: none;
    padding: 10px;
    border-radius: 20px;
    color: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
}

.back {
    border: 1px solid black;
    transform: rotateY(180deg);
}

.back p {
    text-align: start;
    font-size: 12px;
    
}

.back input {
    position: relative;
    border: none;
    top: 15%;
    padding: 10px;
    border-radius: 20px;
    color: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

input[type="button"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* ECONOMIA */

#economia {
    font-size: 40px;
    text-align: center;
    color: #006398;
   

}

#economia-topo {
    height: 280px;
}

#economia p {
    width: 100%;
    color: #2F4F4F;
}

.cont-eco {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.cont-eco p {
    margin-top: 60px;
    width: 500px;
    height: 150px;
}

.img-eco {
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    float: left;
    display: inline-block;
    

}

#economia img {
    object-fit: cover;
    image-resolution:initial;
    width: 600px;
    height: 300px;
}

#economia .img-eco img:hover {
    transform: scale(1.1);
    transition: all .8s ease-in-out;
}

#empregos-eco{
    margin-bottom: 50px;
    text-align: center;

}

.titulo-eco1 {
    margin-bottom: 80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    width: 100%;
}
.titulo-eco1 p {
    width: 800px;
}

.titulo-eco h1 {
    font-size: 40px;
}



.empregos-eco p{

}

.empregos-l p {
    
}